/* Estilo general */
body {
  font-family: "Montserrat", Sans-serif;
  margin: 20px;
  padding: 20px;
  background-color: ffffff;
}

h1 {
  text-align: center;
  color: #333;
}

form {
  display: flex;
  justify-content: center;
  text-align: center;
}

/* Botón Calcular */
.boton {
  background-color: #DCF028;
  color: #1E163B;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;

  display: block;
  margin: 20px auto; /* Centra horizontalmente */
  width: 200px; /* Mantiene el ancho fijo */
  text-align: center;

  margin-top: 20px; /* Mueve el botón hacia abajo */
  font-size: 14px; /* Reducir tamaño de fuente */
  padding: 8px; /* Reducir padding */

  
}

.boton:hover {
  background-color: #8E6EC8;
  color: white;
}

/* Tablas */
table {
  border-collapse: collapse;
  width: 50%; /* Hacer la tabla más pequeña en pantallas grandes */
  margin-top: 20px;
  background-color: #ffffff; /*#f4f4f4 por #ffffff */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

/* Tablas */
.table1, .table2 {
  border-collapse: collapse;
  width: 80%; /* Ajustamos el ancho en pantallas grandes */
  margin-top: 20px;
  background-color: ffffff;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin-left: auto;
  margin-right: auto;
}

.table1 {
  width: 100%; /* Para asegurar que ocupe el 100% en dispositivos pequeños */
}

.table2 {
  width: 100%; /* Para asegurar que ocupe el 100% en dispositivos pequeños */
}

.resultadotabla {
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

th, td {
  border: 1px solid #ffffff; /*#f4f4f4 por #ffffff */ /*#f4f4f4 por #ffffff */
  text-align: center;
  padding: 8px; /* Reducir padding de las celdas */
}

th {
  background-color: #ffffff; /*#f4f4f4 por #ffffff */
  color: #333;
}

tr:nth-child(even) {
  background-color: #ffffff; /*#f4f4f4 por #ffffff */
}

tr:hover {
  background-color: #ffffff; /*#f4f4f4 por #ffffff */
}

/* Resultados */
#resultado {
  margin-top: 30px; /* Asegura un buen margen para los resultados */
  text-align: center; /* Centra el texto */
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

/* Estilo general para los placeholders */
input::placeholder, select::placeholder {
  font-size: 1em; /* Ajustar el tamaño del placeholder al 70% del tamaño del campo */
  text-align: center; /* Centra el texto del placeholder */
}

/* Estilo para los campos de entrada y el select */
input, select, button {
  padding: 8px; /* Reducir padding */
  margin: 5px 0;
  font-size: 14px; /* Reducir el tamaño de la fuente */
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%; /* Se asegura de que los campos ocupen todo el ancho disponible */
  box-sizing: border-box; /* Asegura que el padding y los bordes no afecten el tamaño */
}

/* Asegurarse de que los labels estén arriba de los inputs/selects */
label {
  display: block;   /* Hace que el label ocupe toda la línea y esté encima del campo */
  margin-bottom: 5px; /* Espacio entre el título y el campo */
  font-size: 16px;
  text-align: center;
  font-weight: bold;  /* Opcional: para hacer que el texto sea más destacado */
}

/* Centrar el contenedor del formulario */
form {
  text-align: center; /* Centra los elementos dentro del formulario */
}

.planpago {
  text-align: center; /* Centra los elementos dentro del formulario */
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #ffffff; /*#f4f4f4 por #ffffff */
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

.modal-content1 {
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;  /* Ajustamos el tamaño para escritorio */
  border-radius: 10px;
  box-shadow: 0 4px 8px #ffffff; /*#f4f4f4 por #ffffff */
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

.modal-content {
  width: 100%;  /* Ajustamos el tamaño para escritorio */
  margin-left: auto; /* Centra la tabla */
  margin-right: auto; /* Centra la tabla */
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover {
  color: black;
}
.izquierdo{
    width: 40%;
}
.derecho{
    width: 60%;
}

/* Responsividad */
@media (max-width: 600px) {
  body {
      padding: 10px;
  }

  h1 {
    font-size: 20px; /* Reducir tamaño de fuente del título */
  }

  form {
      margin-bottom: 10px;
  }

  table {
    font-size: 12px;  /* Reducir el tamaño de las tablas */
    width: 100%; /* Hacer la tabla ocupar todo el ancho */
  }

  .table1, .table2 {
    font-size: 12px;  /* Reducir el tamaño de las tablas */
    width: 100%; /* Hacer la tabla ocupar todo el ancho */
  }

  .boton {
    width: 100%; /* El botón ocupa el 100% del ancho */
    font-size: 16px; /* Ajustar el tamaño de la fuente */
    padding: 12px; /* Aumentar padding para facilidad de clic */
    margin-left: auto; /* Centra la tabla */
    margin-right: auto; /* Centra la tabla */
  }

  .modal-content {
    width: 100%;  /* Hacer que el modal ocupe el 90% del ancho en pantallas móviles */
  }
}
